html {
font-size: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #454545;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  background-image: url('bkgd2.png');
}

.container {
  width: 90%;
  /* max-width: 60rem; */
}

header {
  margin-top: 1.25rem;
  text-align: center;
}

header span {
  font-size: 3.75rem;
  color: #f16059;
}

.ball-wrapper {
  padding: 1rem 0;
  position: relative; 
}

.answer {
  position: absolute;
  width: 14%;
  top: 60%;
  left: 65%;
  margin-top: -3.75rem;
  margin-left: -3.75rem;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: .6rem;
  color: #222;
  text-transform: uppercase;
  text-align: center;
}

.ball {
  width: 18em;
}

.button-wrapper {
  position: relative; 
}

.button {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  border-radius: .3rem;
  border: none;
  color: #f8f8f8;
  background-color: #f16059;
  padding: .5rem 2.5rem;
  margin: 1rem;
}

footer p {
  text-align: center;
  text-transform: uppercase;
  font-size: .7rem;
}


@media screen and (min-width: 768px) {
  /**** TABLET STYLES ****/
  header {
    font-size: 1.25rem;
  }

  h1 {
    margin: 1rem;
  }

  header span {
    font-size: 4.5rem;
  }
  
  .ball-wrapper {
    padding: 2rem 0;
  }

  .answer {
    width: 14%;
    top: 50%;
    left: 55%;
    margin-top: -3.75rem;
    margin-left: -3.75rem;
    font-size: 1rem;
  }

  .ball {
    width: 36rem;
  }
  
  .button {
    font-size: 1.25rem;
  }

  footer {
    font-size: .9rem;
  }
}

@media screen and (min-width: 1200px) {
  /**** DESKTOP STYLES ****/


}